* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}

/* common css */
.container {
    width: 1140px;
    margin: 0 auto;
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #7b7c80;

}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #E95A08;
    font-family: "Noto Serif", serif;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

/* header css is here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.menu-area {
    display: flex;
}

.menu-area ul {
    display: flex;
    list-style: none;
}

.menu-area ul li {
    padding-left: 50px;

}

.menu-area ul li a {
    font-size: 1rem;
    color: #8987A1;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    text-decoration: none;

}

.menu-area ul li a:hover {
    color: #000000;
    transition: .3s;
}

.cart-area {
    padding-left: 55px;
}

.cart-area a {
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.cart-icon {
    padding-right: 10px;
}

/* banner css is here */
.banner-area {
    padding-top: 120px;
    padding-bottom: 100px;
}

.banner-content {
    display: flex;
}

.banner-text {
    padding-top: 60px;
}

.banner-text h2 {
    font-size: 4rem;
    font-weight: bold;
    color: #E95A08;
    font-family: "Noto Serif", serif;
    margin-bottom: 10px;
}

.banner-text h2 span {
    color: #000000;
}

.banner-img img {
    display: block;
}

/* our planet area */
.planet-area {
    padding-bottom: 210px;
}

.planet-head {
    text-align: center;
    padding: 0px 120px;
    margin-bottom: 60px;
}

.planet-head h3 span {
    color: #000000;
}

.planet-img img {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.planet-text {
    text-align: center;
}

.planet-text h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #111111;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.planet-text span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111111;
    font-family: "Inter", sans-serif;
    display: block;
    margin-bottom: 30px;
}

.planet-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.planet-text a {
    font-size: .8rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #E95A08;
    padding: 15px 80px;
}

/* planet lover area */
.planet-lover-area {
    padding-bottom: 100px;
}

.planet-lover-content {
    display: flex;
    column-gap: 60px;
}

.planet-lover-text h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    font-family: "Noto Serif", serif;
    margin-bottom: 10px;
    padding-top: 30px;
}

.planet-lover-text h3 span {
    display: block;
}

.planet-lover-text ul {
    padding-left: 30px;
}

.planet-lover-text ul li {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #7b7c80;
    margin-bottom: 18px;
}

.planet-lover-img {
    position: relative;
}

.badge-img img {
    height: 285px;
    width: 285px;
    position: absolute;
    top: -130px;
    right: -90px;
}

.img-shadow {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
}

/* latest deal area */
.latest-deal-area {
    padding-bottom: 120px;
}

.latest-deal-head {
    text-align: center;
    padding: 0px 130px;
}

.latest-deal-head span {
    color: #000000;
}

.latest-deal-content {
    display: grid;
    column-gap: 20px;
    margin-top: 90px;
}

.latets-deals-item-3 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.latets-deals-item-1 {
    background-image: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 999;
}

.latets-deals-item-1 ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -999;

}

.latets-deals-item-2 {
    background-image: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
    border-radius: 15px;
    position: relative;
    z-index: 999;
}

.latets-deals-item-2 ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -999;

}

.latets-deals-item-3 {
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 27%;
    border-radius: 15px;
    position: relative;
    z-index: 999;
}

.latets-deals-item-3 ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -999;

}

.latest-deal-content h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    font-family: "Noto Serif", serif;
    margin-bottom: 10px;
}

.latets-deals-item-3 h5 {
    font-size: 2rem;
}

.latest-deal-content a {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    border-bottom: 3px solid #ffffff;
    display: inline-block;
}

/* join area */

.join-area {
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.join-content {
    padding: 200px 0px;
}

.join-content h3 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-bottom: 30px;
}

.input-area input {
    background-color: white;
    border: none;
    padding: 15px 20px;
    width: 830px;
}

input:focus {
    outline: none;
}

.input-area {
    display: flex;
    justify-content: center;
}

.input-area button {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #E95A08;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
}

/* footer area */
.footer-area {
    padding: 50px 0px;
}

.footer-content {
    display: grid;
    grid-template-columns: 31% 33% 25%;
    column-gap: 50px;
}

.footer-logo img {
    margin-bottom: 20px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    font-size: 1rem;
    color: #8987A1;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #000000;
    transition: .3s;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-menu ul li {
    margin-bottom: 30px;
}

.footer-social img {
    height: auto;
    width: 35px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    height: 50px;

}






/* Media Queries */

@media screen and (max-width: 576px) {
    .container {
        padding: 0px 30px;
    }

    /* nav area */
    .cart-area a {
        font-size: 2.5rem;
    }

    .menu-area ul {
        display: none;
    }

    /* hero area */
    .banner-area {
        padding-bottom: 120px;
    }

    .banner-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-text {
        padding-top: 100px;
    }

    .banner-text h2 {
        font-size: 4rem;
        padding-bottom: 15px;
    }

    .banner-text p {
        font-size: 2.8rem;
    }

    /* our planet area */
    .planet-head h3 {
        font-size: 3.8rem;
    }

    .planet-head p {
        font-size: 2.5rem;
    }

    .planet-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 40px;
    }

    .planet-text h4 {
        font-size: 2.5rem;
    }

    .planet-text span {
        font-size: 2rem;
    }

    .planet-text a {
        font-size: 1.8rem;
    }

    /* latest deal area */

    .latest-deal-area {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .latest-deal-head h3 {
        font-size: 4rem;
    }

    .latest-deal-head p {
        font-size: 2rem;
    }

    .latets-deals-item-1 {
        height: 500px;
        margin-bottom: 30px;
        padding-top: 22%;
    }

    .latets-deals-item-2 {
        height: 500px;
        padding-top: 22%;
        margin-bottom: 30px;
    }

    .latets-deals-item-3 {
        height: 500px;
        padding-top: 20%;
    }

    .latest-deal-content {
        display: block;
    }

    .latest-deal-content h5 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .latest-deal-content a {
        font-size: 2rem;
    }


    /* planet lover area */
    .planet-lover-area {
        padding-top: 90px;
    }

    .planet-lover-content {
        display: flex;
        flex-direction: column;
    }

    .planet-lover-text h3 {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .planet-lover-text h3 span {
        display: inline;
    }

    .planet-lover-text ul {
        padding-left: 60px;
    }

    .planet-lover-text ul li {
        font-size: 2.3rem;
        margin-bottom: 50px;
    }

    .planet-lover-img img {
        width: 100%;
        margin-bottom: 30px;
    }

    .badge-img {
        display: none;
    }

    /* join area */

    .join-area {
        display: inline-block;
    }

    .join-content {
        padding-left: 156px;
        padding-right: 156px;
    }

    .join-content h3 {
        font-size: 2.9rem;
    }

    .input-area input {
        width: 600px;
        font-size: 1.8rem;
    }

    .input-area button {
        font-size: 2rem;
        padding: 20px 30px;
    }


    /* footer area */

    .footer-area {
        padding-top: 80px;
    }

    .footer-logo img {
        height: 250px;
        width: auto;
        margin-bottom: 40px;
    }

    .footer-content p {
        font-size: 2rem;
        width: 60%;
        margin-bottom: 50px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: none;
    }

    .footer-menu ul li {
        margin-bottom: 40px;
    }

    .footer-menu ul li a {
        font-size: 2rem;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: none;
    }

    .footer-social {
        width: 30%;
        display: flex;
        height: 50px;
        margin-bottom: 50px;

    }
}